.new-chat-contacts {
    max-height: 350px;
    overflow-y: auto;
    cursor: pointer;
    padding: 10px;
    &::-webkit-scrollbar {
        width: 2px; /* width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        height: 0.5px; /* width of the scrollbar */
        background-color: var(--main-blue); /* color of the scrollbar thumb */
        border-radius: 2px; /* roundness of the scrollbar thumb */
    }

    &::-webkit-scrollbar-track {
        background-color: transparent; /* color of the scrollbar track */
    }
}

.new-chat-contact-card {
    transition: transform 0.3s ease-in-out;
    background-color: var(--accent-background-color);
    margin: 10px 0;
    &:hover {
        transform: scale(1.05);
    }
}

.chat-header{
    margin: 2%;
    align-self: flex-end;

}

.chat-container{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}